{%extends 'base.html' %}

{% block title %}
CurriculunmViate
{% endblock %}


{% block body %}
<div class = "container">
<u><strong>Опыт работы:</strong></u>
            <ul>
                <p><h5><strong>2021 - настоящее время. </strong> Bimeister engineering. <strong>Инженер внедрения ПО</strong></h5>
                <li>Настройка программного обеспечения, разработка документации, обучение сотрудников, разработка скриптов и участие в проработке архитектуры взаимодействия с информационными системаими клиента.</li>
                <li>Участие в разработке проектных решений и внедрение системы, проведение приемо-сдаточных испытаний</li>
                <li>Администрирование продукта (настройка, администрирование UNIX-подобных систем)</li>
                <li>Анализ данных для локализации инцидентов</li>

             <p><h5> <strong>2021 - 2021</strong> ПАО Банк ВТБ. Москва, Россия (Bank VTB. Moscow, Russia).
                 <strong>Старший специалист сопровождения</strong> службы сопровождения фронтальных систем и процессов управления поддержки приложений розничного бизнеса.</h5>
                <li>Работа с логами высоконагруженных приложений (LogFilterTask)</li>
                <li>Проработка и реализация  временных обходных решений при наличии дефекта в работе ИС</li>
                <li>Реагирование на нестандартное поведение системы по графикам в Grafana</li>
                <li>Реагирование на инциденты, фиксирование и передача их на третью линию поддержки в случае необходимости</li>
                <li>Проведение регламентных работ (участие в смоук - тестировании)</li>
                <li>Ведение базы знаний в Confluence (сбор и учет стандартных решений)</li>
                <li>При необходимости заведение продуктовых задач в JIRA и передача на команду разработчиков</li>

            <p> <H5> <strong>2019 - 2021</strong> ХКФ Банк. Обнинск, Россия (HCF Bank. Obninsk, Russia).
                <strong>Сопровождение фронт-офисных систем </strong>(обработка входящего потока ошибок INC)</H5>
                <li>работа c СУБД (написание запросов SQL),</li>
                <li>работа с логами (Graylog)</li>
                <li>первичный анализ проблемы, работа в JIRA (заведение продуктовых задач) </li>
                <li>Проводил консультации по предметной области при разработки ML алгоритмов (кластеризация входящих запросов)</li>
            </ul>

<u><strong>Образование:</strong></u>
            <ul>
              <li>2016-2021 НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ ЯДЕРНЫЙ УНИВЕРСИТЕТ «МИФИ» (НИЯУ МИФИ).

ОБНИНСКИЙ ИНСТИТУТ АТОМНОЙ ЭНЕРГЕТИКИ (ИАТЭ) бакалавр, направление Информационные системы и технологии</li>
            </ul>
<ul>
    <li><strong>Навыки:</strong> Python, SQL, Linux, GitHub, Heroku, Docker ,PowerShell, HTML, CSS, Graylog, LogFilterTask, BMC Remedy, Service Manager, Grafana
        (Более подробно во вкладке "Мои навыки")</li>
</ul>

<u><strong>Языки:</strong></u>
            <ul>
              <li><strong>Английский</strong> - B1 (pre-intermediate)</li>
              <li><strong>Русский</strong> - Носитель</li>
            </ul>
    E-mail: sergeevim24@gmail.com <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
</svg>
            </p>
              +7(910)-918-39-34 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
</svg>
            </p>
    <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
</svg>
                <a href="https://www.linkedin.com/in/ilya-sergeev-630975239/" style="color:white;" >LinkedIn</a>
              </button>

    <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
</svg>
                <a href="https://t.me/ISergeev24" style="color:white;">Telegram</a>
              </button>
</div>
{% endblock %}