{%extends 'base.html' %}

{% block title %}
contact
{% endblock %}




{% block body %}
<div class="container">
<p class="lead">
          По всем интерсующим Вас вопросам Вы можете позвонить мне по телефону +7 (910)-918-39-34 (WhatApp / Telegram: @ISergeev24),
    e-mail: sergeevim24@gmail.com
        </p>
    <a href="https://www.linkedin.com/in/ilya-sergeev-630975239/" class="btn btn-primary btn-lg px-4">LinkedIn</a>
    <button type="button" class="btn btn-outline-secondary btn-lg px-4">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telegram</font></font></button>

</div>

{% endblock %}