{%extends 'base.html' %}

{% block title %}
CurriculunmViate
{% endblock %}


{% block body %}
<div class = "container">
<u><strong>Experience:</strong></u>
            <ul>
              <li><strong>2021 - Present.</strong> Bank VTB. Moscow, Russia
<strong>Specialist</strong> in the support service of frontal systems and management processes for supporting retail business applications. Incident management. Working in JIRA,ServiceManager</li>
              <li><strong>2019 - 2021</strong> HCF Bank. Obninsk, Russia
FrontLine Specialist. Maintenance of front-office systems (processing the incoming stream of INC errors), working with DBMS (writing simple SQL queries), working with logs, initial analysis of the problem, working in JIRA (introducing product tasks) Conducted consultations on the subject area when developing ML algorithms</li>
            </ul>

<u><strong>Education:</strong></u>
            <ul>
              <li>2016-2021 National Research Nuclear University "MIPHI", OICS, Information systems and technologies</li>
            </ul>
<ul>
    <li><strong>Skills:</strong> Python, SQL, Linux, GitHub, Docker ,PowerShell, HTML, CSS, BMC Remedy</li>
</ul>

<u><strong>Spoken language Levels:</strong></u>
            <ul>
              <li><strong>English</strong> - Advanced</li>
              <li><strong>Russian</strong> - Native</li>
            </ul>
Cell Phone: +7(910)918-39-34. <em>I am use WhatsApp / Telegram</em><br>
E-mail: sergeevim24@gmail.com
</div>
{% endblock %}