{%extends 'base.html' %}

{% block title %}
CurriculunmViate
{% endblock %}


{% block body %}
<div class = "container">
<u><strong>Опыт работы:</strong></u>
            <ul>
                <p><h5><strong>2021 - настоящее время. </strong> Bimeister engineering. <strong>Инженер внедрения ПО</strong></h5>
                <li>Настройка программного обеспечения, разработка документации, обучение сотрудников, разработка скриптов и участие в проработке архитектуры взаимодействия с информационными системаими клиента.</li>
                <li>Участие в разработке проектных решений и внедрение системы, проведение приемо-сдаточных испытаний</li>
                <li>Администрирование продукта (настройка, администрирование UNIX-подобных систем)</li>
                <li>Анализ данных для локализации инцидентов</li>

             <p><h5> <strong>2021 - 2021</strong> ПАО Банк ВТБ. Москва, Россия (Bank VTB. Moscow, Russia).
                 <strong>Старший специалист сопровождения</strong> службы сопровождения фронтальных систем и процессов управления поддержки приложений розничного бизнеса.</h5>
                <li>Работа с логами высоконагруженных приложений (LogFilterTask)</li>
                <li>Проработка и реализация  временных обходных решений при наличии дефекта в работе ИС</li>
                <li>Реагирование на нестандартное поведение системы по графикам в Grafana</li>
                <li>Реагирование на инциденты, фиксирование и передача их на третью линию поддержки в случае необходимости</li>
                <li>Проведение регламентных работ (участие в смоук - тестировании)</li>
                <li>Ведение базы знаний в Confluence (сбор и учет стандартных решений)</li>
                <li>При необходимости заведение продуктовых задач в JIRA и передача на команду разработчиков</li>

            <p> <H5> <strong>2019 - 2021</strong> ХКФ Банк. Обнинск, Россия (HCF Bank. Obninsk, Russia).
                <strong>Сопровождение фронт-офисных систем </strong>(обработка входящего потока ошибок INC)</H5>
                <li>работа c СУБД (написание запросов SQL),</li>
                <li>работа с логами (Graylog)</li>
                <li>первичный анализ проблемы, работа в JIRA (заведение продуктовых задач) </li>
                <li>Проводил консультации по предметной области при разработки ML алгоритмов (кластеризация входящих запросов)</li>
            </ul>

<u><strong>Образование:</strong></u>
            <ul>
              <li>2016-2021 НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ ЯДЕРНЫЙ УНИВЕРСИТЕТ «МИФИ» (НИЯУ МИФИ).

ОБНИНСКИЙ ИНСТИТУТ АТОМНОЙ ЭНЕРГЕТИКИ (ИАТЭ) бакалавр, направление Информационные системы и технологии</li>
            </ul>
<ul>
    <li><strong>Навыки:</strong> Python, SQL, Linux, GitHub, Heroku, Docker ,PowerShell, HTML, CSS, Graylog, LogFilterTask, BMC Remedy, Service Manager, Grafana
        (Более подробно во вкладке "Мои навыки")</li>
</ul>

<u><strong>Языки:</strong></u>
            <ul>
              <li><strong>Английский</strong> - B1 (pre-intermediate)</li>
              <li><strong>Русский</strong> - Носитель</li>
            </ul>
Телефон: +7(910)918-39-34. <em>WhatsApp / Telegram: @ISergeev24</em><br>
E-mail: sergeevim24@gmail.com
</div>
{% endblock %}