{%extends 'base.html' %}

{% block title %}
CurriculunmViate
{% endblock %}


{% block body %}
<div class = "container">
<u><strong>Опыт работы:</strong></u>
            <ul>
              <li><strong>2021 - настоящее время.</strong> ПАО Банк ВТБ. Москва, Россия (Bank VTB. Moscow, Russia).
<strong>Специалист сопровождения</strong> фронт-офисных систем и процессов управления поддержкой розничных бизнес-приложений.
              Инцидент-менеджмент. Прохождение смоук-тестов. Обработка входящего потока инцидентов,сбор фактуры, анализ логов,
                  работа с СУБД (написание SQL запросов) при необходимости заведение и
                  передача на команду разработчиков продуктовых задач в JIRA. </li>
              <li><strong>2019 - 2021</strong> ХКФ Банк. Обнинск, Россия (HCF Bank. Obninsk, Russia).
Сопровождение фронт-офисных систем (обработка входящего потока ошибок INC), работа с СУБД (написание SQL-запросов),
                  работа с логами, первичный анализ проблемы, работа в JIRA (внедрение продуктовых задач).
                  Проведение консультаций по предметной области при разработке алгоритмов ML</li>
            </ul>

<u><strong>Образование:</strong></u>
            <ul>
              <li>2016-2021 НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ ЯДЕРНЫЙ УНИВЕРСИТЕТ «МИФИ» (НИЯУ МИФИ).

ОБНИНСКИЙ ИНСТИТУТ АТОМНОЙ ЭНЕРГЕТИКИ (ИАТЭ) бакалавр, направление Информационные системы и технологии</li>
            </ul>
<ul>
    <li><strong>Навыки:</strong> Python, SQL, Linux, GitHub, Heroku, Docker ,PowerShell, HTML, CSS, Graylog, LogFilterTask, BMC Remedy, Service Manager, Grafana
        (Более подробно во вкладке "Мои навыки")</li>
</ul>

<u><strong>Языки:</strong></u>
            <ul>
              <li><strong>Английский</strong> - B1 (pre-intermedia)</li>
              <li><strong>Русский</strong> - Носитель</li>
            </ul>
Телефон: +7(910)918-39-34. <em>WhatsApp / Telegram: @ISergeev24</em><br>
E-mail: sergeevim24@gmail.com
</div>
{% endblock %}