{%extends 'base.html' %}

{% block title %} General page{% endblock %}
{% block body %}
<div class="container">
<h1>Welcome!</h1>
<p class="fs-5 col-md-8">Меня зовут Илья Сергеев. И я инженер внедрения ПО в России</p>

    <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
              <a href="/CV" class="btn btn-primary btn-lg px-4" style="color:white;">Резюме</a>
              </button>
</div>
{% endblock %}