{%extends 'base.html' %}

{% block title %}
myskills
{% endblock %}




{% block body %}
<div class="container">
    <h1><strong>Навыки:</strong> Python, SQL, Linux, GitHub, Heroku, Docker ,PowerShell, HTML, CSS, Graylog, LogFilterTask, BMC Remedy, Service Manager, Grafana</h1>
<ul>
    <li><strong>Python:</strong> разработка личных проектов на языке программирования Python</li>
    <li><strong>SQL:</strong> написание SQL запросов для поиска, просмотра и анализа данных</li>
    <li><strong>Linux:</strong>умение работать с терминалом, навигация по файлам и диреткориям, работа с файлами и директориями,
        создание линков, перенаправление вывода, архивирование и сжатие данных, работа с правами доступа,сетевые команды,
        скачивание и установка программ, написание скриптов bash</li>
    <li><strong>GitHub:</strong> ведение личных командных проектов</li>
    <li><strong>Heroku:</strong> хостинг web-сайта</li>
    <li><strong>Docker:</strong> настройка, установка, развертка домашней лаботории(эксперименты)</li>
    <li><strong>PowerShell:</strong>прохождение курсов в рамках обучения Microsoft.com с целью администрирования системы Windows</li>
    <li><strong>HTML:</strong> создание сайта sergeev.digital</li>
    <li><strong>CSS:</strong> создание сайта sergeev.digital</li>
    <li><strong>Graylog:</strong> сбор и анализ логов</li>
    <li><strong>LogFilterTask:</strong> сбор и анализ логов</li>
    <li><strong>BMC Remedy:</strong> использвание данной системы учета обращения в ХКФ Банке</li>
    <li><strong>Service Manager:</strong> использвание данной системы учета обращения в ПАО ВТБ Банке</li>
    <li><strong>Grafana:</strong> анализ текущего состояния, мониторинг ключевых показателей работы ИС </li>


</ul>
</div>
{% endblock %}