{%extends 'base.html' %}

{% block title %}
myskills
{% endblock %}




{% block body %}
<div class="container">
    <h1><strong>Навыки:</strong> Python, SQL, Linux, GitHub, Docker ,PowerShell, HTML, CSS, Graylog, LogFilterTask, BMC Remedy, Service Manager</h1>
<ul>
    <li><strong>Python:</strong> разработка личных проектов на данном языке программирования</li>
    <li><strong>SQL:</strong> Написание простых запросов</li>
    <li><strong>Linux:</strong>администрирования домашнего сервера</li>
    <li><strong>GitHub:</strong> ведение личных командных проектов</li>
    <li><strong>Docker:</strong> Настройка,установка,разворачивание домашней лаботории(эксперименты)</li>
    <li><strong>PowerShell:</strong>проходил курсы в рамках обучения Microsoft.com</li>
    <li><strong>HTML:</strong> создание сайта sergeev.digital</li>
    <li><strong>CSS:</strong> создание сайта sergeev.digital</li>
    <li><strong>Graylog:</strong> сбор и анализ логов</li>
    <li><strong>LogFilterTask:</strong> сбор и анализ логов</li>
    <li><strong>BMC Remedy:</strong> использвание данной системы учета обращения в ХКФ Банке</li>
    <li><strong>Service Manager:</strong> использвание данной системы учета обращения в ПАО ВТБ Банке</li>


</ul>
</div>
{% endblock %}